.proportioned{
    height: auto;
    width: 350px;
}
.title{
    color: red;
}
.unorganised{
    background-color: yellow;
    color: blueviolet;
    font-size: 30px;
}
.organised{
    background-color: green;
    color: gray;
    font-size: 20px;
}